.App {
  text-align: center;
  background-color: rgba(41, 71, 206, 0.664);
}

@font-face {
  font-family: counter-strike;
  src: url(../fonts/cs_regular.ttf);
}

header {
  font-size: 30px;
  box-shadow: 0px 6px 25px rgba(216, 214, 214, 0.5);
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

header div, header a {
  margin: auto;
}


.logo {
  width: 300px;
  font-family: counter-strike;
  text-decoration: none;
  color: black;
  margin-left: 20px;
  text-align: start;

}

.header__titre {
  margin: 18px;
  font-size: 35px;
  font-family: counter-strike;
}

.name {
  width: 300px;
  display: inline-block;
  margin-right: 20px;
  text-align: end;
  font-weight: bold;
}



.section-getMatch {
  /* background-image: url("https://media.steampowered.com/apps/csgo/blog/images/fb_image.png?v=6"); */
  background-image: url("../img/img-fond-csgo-bleu.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  height: 603px;
  color: white;
}

.titre-site {
  font-family: counter-strike;
  font-size: 50px;
  margin: auto;
  padding: 50px 0 30px 0;
}

.getMatch {
  background-color: white;
  color: black;
  border-radius: 10px;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  width: 60%;
  box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.5);
}

.matchForm {
  background-color: black;
  margin: 50px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.5);
}

.matchForm__liste {
  list-style-type: none;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.matchForm__liste li {
  background-color: white;
  font-weight: bold;
  border-radius: 5px;
  margin: 20px;
  box-shadow: 0px 6px 25px rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.matchForm__liste li a {
  cursor: pointer;
  width: 100%;
}

.li__div {
  margin: 10px;
}

.li__score {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2px;
  margin-top: 3px;
}

.li__score span {
  border-radius: 5px;
  padding: 3px;
}

.team1Live {
  background-color: blue;
}

.team2Live {
  background-color: orange;
}

.vs {
  color: black;
}

footer {
  height: 300px;
}